@import "tailwindcss";
@config "../tailwind.config.js";

body {
  background-color: #c1d3f7;
}

/* hidden Scrollbar Styles */
.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Global Scrollbar Styles */
body::-webkit-scrollbar {
  width: 4px;
  background-color: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #14181e;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}